@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;900&display=swap');

:root {
    --clrBlack: #000;
    --clrWhite: #fff;
    --clrGrey1: #999;
    --clrGrey2: #555;
    --clrGrey3: #222;
    --clrGreen1: #44d52c;
    --clrGreen2: #28841a;
    --clrGreen3: #15340d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

a {
    text-decoration: none;
    color: var(--clrWhite);
    text-shadow: 0 0 3px black;
}

h2 {
    padding-bottom: 20px;
}

ul {
    list-style: none;
}

body {
    background-color: var(--clrBlack);
    color: var(--clrWhite);
    font-family: 'roboto slab';
    font-weight: 400;
}

section p {
    font-weight: 300;
    text-shadow: 0 0 2px #fff;
}

img {
    width: 100%;
    display: block;
}

/* OVERALL */

/* HEADER + NAV */

header {
    border-bottom: 1px solid var(--clrGreen1);
    /* background-color: var(--clrBlack); */
    position: sticky;
    top: 0;
    backdrop-filter: saturate(180%) blur(25px);
    -webkit-backdrop-filter: saturate(180%) blur(25px);
    z-index: 1;
}

.headerLogo {
    margin-left: 25px;
    width: 75px;
    height: 75px;
    position: absolute;
}

nav {
    font-weight: 500;
}

.navContainer {
    display: flex;
    justify-content: center;
    min-height: 75px;
}

.ulNav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.ulNav a {
    padding-left: 25px;
    padding-right: 25px;
}

.ulNav a:hover {    
    border-bottom: 2px solid var(--clrGreen1);
    padding-bottom: 7px;
    border-radius: 10%;
    
    text-shadow: 0 0 20px #fff;
    transition: text-shadow .2s, padding-bottom .4s, border-radius .2s;
}


@media screen and (max-width: 1200px) {
    .ulNav {
        gap: 0;
    }
}

@media screen and (max-width: 992px) {
    .ulNav a {
        padding-left: 10px;        
        padding-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    .ulNav {
        display: none;
    }
    .navContainer {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    .headerLogo {
        position: static;
        margin-left: 0;
    }
}

/* MAIN */
main {
    margin-left: 20%;
    margin-right: 20%;
}

/* HOME */
.homeContainer {
    display: flex;
    /* gap: 50px; */
    padding-top: 25vh;
    align-items: center;
}

.homeLeft {
    width: 35%;
    min-height: 450px;
    overflow: hidden;
    border-radius: 50px 0 0 50px;
    position: relative;
}

.homeLeft img {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    z-index: -1;
}

.homeRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 50px 50px 0;
    padding-left: 25px;
    padding-right: 25px;
    width: 65%;
    min-height: 450px;
}

@media screen and (max-width: 768px) {
    .homeContainer {
        flex-direction: column;
        padding-top: 0;
    }
    .homeLeft {
        border-radius: 0;
        width: 70%;
        min-height: 300px;
    }
    .homeRight {
        border-radius: 0;
        width: 100%;
        min-height: 300px;
        text-align: center;
    }
}

/* MACHINES */
.machinesContainer {
    display: flex;
    padding-top: 25vh;
    align-items: center;
}


.machinesLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px 0 0 50px;
    padding-left: 25px;
    padding-right: 25px;
    width: 55%;
    min-height: 450px;
}

.machinesRight {
    width: 45%;
    min-height: 450px;
    overflow: hidden;
    position: relative;
}

.machinesRight img {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    z-index: -1;
    border-radius: 0 50px 50px 0;
}

@media screen and (max-width: 1400px) {
    .machinesRight img {
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    .machinesContainer {
        flex-direction: column-reverse;
        padding-top: 15vh;
    }
    .machinesRight {
        border-radius: 0;
        width: 90%;
        min-height: 300px;
    }
    .machinesRight img {
        border-radius: 0;
    }
    .machinesLeft {
        border-radius: 0;
        width: 100%;
        min-height: 100px;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .machinesRight {
        min-height: 150px;
    }
}

/* TABLES */
.tablesContainer {
    display: flex;
    /* gap: 50px; */
    padding-top: 25vh;
    align-items: center;
}

.tablesLeft {
    width: 45%;
    min-height: 450px;
    overflow: hidden;
    position: relative;
}

.tablesLeft img {
    border-radius: 50px 0 0 50px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    z-index: -1;
}

.tablesRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 50px 50px 0;
    padding-left: 25px;
    padding-right: 25px;
    width: 55%;
    min-height: 450px;
}

@media screen and (max-width: 1400px) {
    .tablesLeft img {
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    .tablesContainer {
        flex-direction: column;
        padding-top: 15vh;
    }
    .tablesLeft {
        border-radius: 0;
        width: 70%;
        min-height: 300px;
    }
    .tablesLeft img {
        border-radius: 0;
    }
    .tablesRight {
        border-radius: 0;
        width: 100%;
        min-height: 100px;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .tablesLeft {
        min-height: 150px;
    }
}

/* SECURITY */
.securityContainer {
    display: flex;
    padding-top: 25vh;
    align-items: center;
}


.securityLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px 0 0 50px;
    padding-left: 25px;
    padding-right: 25px;
    width: 55%;
    min-height: 450px;
}

.securityRight {
    width: 45%;
    min-height: 450px;
    overflow: hidden;
    position: relative;
}

.securityRight img {
    border-radius: 0 50px 50px 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    z-index: -1;
}

@media screen and (max-width: 1400px) {
    .securityRight img {
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    .securityContainer {
        flex-direction: column-reverse;
        padding-top: 15vh;
    }
    .securityRight {
        border-radius: 0;
        width: 70%;
        min-height: 300px;
    }
    .securityRight img {
        border-radius: 0;
    }
    .securityLeft {
        border-radius: 0;
        width: 100%;
        min-height: 100px;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .securityRight {
        min-height: 150px;
    }
}

/* ABOUT US */
.aboutContainer {
    display: flex;
    /* gap: 50px; */
    padding-top: 25vh;
    align-items: center;
}

.aboutLeft {
    width: 35%;
    min-height: 450px;
    overflow: hidden;
    border-radius: 50px 0 0 50px;
    position: relative;
}

.aboutLeft img {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    z-index: -1;
}

.aboutRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 50px 50px 0;
    padding-left: 25px;
    padding-right: 25px;
    width: 65%;
    min-height: 450px;
}

@media screen and (max-width: 768px) {
    .aboutContainer {
        flex-direction: column;
        padding-top: 25vh;
    }
    .aboutLeft {
        border-radius: 0;
        width: 70%;
        min-height: 300px;
    }
    .aboutRight {
        border-radius: 0;
        width: 100%;
        min-height: 300px;
        text-align: center;
    }
}

/* CONTACT */
.contactContainer {
    padding-top: 20vh;
    display: flex;
    justify-content: center;
}

.contactBox {
    width: 80%;
    /* min-height: 400px; */
}

.contactBox h2 {
    text-align: center;
}

.contactForm {
    background-color: var(--clrGrey3);
    width: 100%;
    padding: 2em;
    border-radius: 2.5em;
}

.contactForm input, textarea {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    font-family: 'roboto slab';
    border-color: transparent;
    border-radius: 10px;
    background-color: var(--clrGrey1);
}

.contactForm input::placeholder, textarea::placeholder {
    color: var(--clrGrey2);
}

.contactForm input:active, textarea:active, input:focus, textarea:focus {
    background-color: #fff;
    outline: none;
    transition: .2s;
}

.contactForm input[type=submit] {
    margin-top: 1em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.75em;
    border-radius: 2em;
    background-color: var(--clrGreen2);
    border: none;
    font-family: 'roboto slab';
    font-weight: 500;
    text-shadow: 0 0 20px #fff;
}

.contactForm input[type=submit]:hover {
    background-color: var(--clrGreen1);
    transition: .2s;
}

@media screen and (max-width: 768px) {
    .contactForm, input, textarea {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .contactBox {
        width: 98%;
    }
}

/* FOOTER */
footer {
    margin-top: 25vh;
    display: flex;
    justify-content: center;
    background-color: rgb(9, 9, 9);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 0.75em;
    color: var(--clrGrey1);
}